a {
	text-decoration: none;
  background-color: #e5e5e6;  
}

h1 {
	margin-left: 10px;
}

h1 {
font-family: 'Jura', sans-serif;
}

#nav {
  background-color: #e5e5e6;
	width: 600px;
	height: 50px;
	text-align: center;
}

.nav-box {
}

.nav-item {
	margin-top: 15px;
}


#header {
  background-color: #e5e5e6;  
}

#title {
}

#stock_graph {
background-color: #8FC73E;
}

#ai_data {
background-color: #8FC73E;
}


div.spacer {  
    background-color: #8FC73E;  
    height: 1em;  
} 

div#footer {  
    background-color: #e5e5e6;  
		height: 100px;
} 
  
