CREATE TABLE IF NOT EXISTS `industry_%(industry)s` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `yahoo_id` int(11) DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  `symbol` varchar(10) DEFAULT NULL,
  `start_date` datetime DEFAULT NULL,
  `end_date` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
)  ENGINE=InnoDB DEFAULT CHARSET=latin1