a {
	text-decoration: none;
  background-color: #e5e5e6;  
}

h1 {
	margin-left: 10px;
	font-family: 'Jura', sans-serif;
}
h2 {
	font-size: 44px;
}
#nav {
  background-color: #e5e5e6;
	width: 600px;
	height: 50px;
	text-align: center;
}

.nav-box {
}

.nav-item {
	margin-top: 15px;
}


#header {
  background-color: black;  
	padding-top: 80px;
	padding-bottom: 30px;
	background-color: black;
	color: white;
	margin-bottom: 25px;
}
#header h1 {
	font-size: 17em;
	text-align: center;
}

#title {
}

#stock_graph {
}

#ai_data {
}
#ai_data > h1 {
	margin-bottom: 15px;
}

div.spacer {  
    background-color: #8FC73E;  
    height: 1em;  
} 

div#footer {  
  background-color: black;  
font-size: 20px;
	height: 85px;
	color: white;
} 

#total_prob {
	font-size: 55px;
}

#total_prob div {
	margin-bottom: 55px;
	margin-top: 45px;
}

#total_up {
	font-size: 100px;
vertical-align: top;
}

.bayesData {
	font-size: 24px;
}

.bayesData  div {
	margin-top: 15px;
	margin-bottom: 15px;
}

#footercontent {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
} 
#footercontent > div {
	margin-bottom: 10px;
}
#stock {
	width: 600px;
}
